@mixin button-animation {
	animation: move-in-up 1s ease-in-out 1s backwards;
}

@mixin small-shadow {
	box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
}

@mixin big-shadow {
	box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
}
